.mybody {
  margin: 0;
  padding: 0;
  background: #525252;
  overflow: auto;
}

.main-content {
  position: fixed;
  top: 15%;
  width: 100%;
  height: 70%;
  min-height: 650px;
  padding: 30px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  overflow: auto;
}

.search-area {
  height: 100%;
  min-height: 300px;
  width: 100%;
  padding: 50px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}

.results {
  margin-bottom: 10px;
  height: auto;
  min-height: 300px;
  width: 100%;
  padding: 50px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.search-header {
  padding: 0;
  margin-top: 20px;
  color: #ca3e47;
  justify-content: center;
}

.search-box-holder {
  position: relative;
  height: 100%;
  width: 100%;
  padding: 50px;
  justify-content: space-around;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.search-box {
  background: #313131;
  height: 60px;
  width: 310px;
  border-radius: 60px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}

.search-box:hover {
  width: 350px;
}

.search-box:hover > .search-text {
  width: 300px;
  padding: 0 6px;
}

.search-button:hover {
  width: 50px;
  height: 50px;
  background: #ca3e47;
}

.search-button {
  color: #313131;
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #525252;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}

.search-text {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 5px;
  color: #ca3e47;
  font-size: 20px;
  transition: 0.4s;
  line-height: 40px;
  width: 250px;
}

.main-title {
  position: absolute;
  background: #313131;
  height: 15%;
  width: 100%;
  top: 0px;
  text-align: center;
  display: table;
}

.main-title h2 {
  color: #ca3e47;
  display: table-cell;
  vertical-align: middle;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 60px;
}

.footer {
  background: #313131;
  position: fixed;
  left: 0px;
  bottom: 0px;
  height: 15%;
  width: 100%;
  display: flex;
  justify-content: center;
  min-height: 100px;
}
.footer-item {
  display: flex;
  padding: 50px;
  justify-content: space-evenly;
  align-items: center;
  transition: 0.4s;
}

.footer-item a {
  color: #ca3e47;
  text-decoration: none;
}

.footer-item:hover {
  transform: scale(1.1);
}

.main-container {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 800px;
  min-width: 500px;
  margin: 20px;
  padding: 10px;
  background: #313131;
  transition: 0.4s;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.main-container h2 {
  color: #ca3e47;
  font-size: 30px;
  padding: 10px;
}

.main-container:hover {
  transform: scale(1.1);
}

.main-link {
  color: #ca3e47;
  font-size: 26px;
  text-decoration: none;
}

.main-link-container {
  transform: scale(0.8);
  transition: 0.4s;
  text-align: center;
}
.main-link-container:hover {
  transform: scale(1);
}
